.footer {
  color: #545454;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  margin-top: 67px;
  margin-bottom: 60px;
}

@media screen and (max-width: 880px) {
  .footer {
    margin: 0px;
  }

  .footer__text {
    padding-left: 19px;
    margin-top: 30px;
    margin-bottom: 36px;
    font-size: 14px;
  }
}
