.elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: 0px;
}
.elements__image {
  height: 282px;
  width: 100%;
  object-fit: cover;
}
.elements__container {
  width: 282px;
  height: 361px;
  background-color: white;
  font-family: "Inter black", sans-serif;
  border-radius: 10px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
}

.elements__description {
  display: flex;
  justify-content: space-between;
  width: 246px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

.elements__description-title {
  margin: 0px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__like-button {
  border: none;
  background-color: transparent;
  background-image: url(../images/heart.png);
  width: 21px;
  height: 19px;
  margin-top: 5px;
  cursor: pointer;
}

.elements__remove-button {
  border: none;
  background-color: transparent;
  background-image: url(../images/Trash.png);
  width: 18px;
  height: 19.3px;
  cursor: pointer;
  position: absolute;
  top: 18px;
  right: 15px;
}

.elements__remove-button:hover {
  opacity: 0.6;
}

.elements__like-button:hover {
  opacity: 0.6;
}
.elements__like-button_active {
  background-image: url(../images/heartfill.png);
}
@media screen and (max-width: 880px) {
  .elements {
    justify-content: space-around;
  }
}
@media screen and (max-width: 540px) {
  .elements {
    justify-content: center;
    height: auto;
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
  }
  .elements__container {
    width: 282px;
    height: 361px;
    background-color: white;
    font-family: "Inter black", sans-serif;
    border-radius: 10px;
    margin-bottom: 20px;
    overflow: hidden;
  }
}
